[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "HanekeSwift"]
	path = HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "FontAwesome.swift"]
	path = FontAwesome.swift
	url = https://github.com/thii/FontAwesome.swift.git
