github "Alamofire/Alamofire"
github "Haneke/HanekeSwift"
github "thii/FontAwesome.swift"
github "questbeat/QBImagePicker"
github "slackhq/SlackTextViewController" == 1.7
github "djmonta/SWTableViewCell"