github "Alamofire/Alamofire" >= 1.3
github "Haneke/HanekeSwift"
github "thii/FontAwesome.swift" >= 0.4.1
github "questbeat/QBImagePicker"
github "slackhq/SlackTextViewController" == 1.5.1
github "djmonta/SWTableViewCell"