github "Alamofire/Alamofire"
github "Haneke/HanekeSwift"
github "thii/FontAwesome.swift" "0.7.0"
github "questbeat/QBImagePicker"
github "slackhq/SlackTextViewController"
github "djmonta/SWTableViewCell"
